---
layout: "layouts/base.njk"
---

<h3 class="font-bold mb-2 text-lg">Cruises</h3>

{% if cruises %}
<ul>
{% for cruise in cruises %}
<li><a href="/cruises/{{ cruise.cruiseLine | slugify }}/{{ cruise.name | slugify }}">{{ cruise.name }} ({{ cruise.cruiseLine }})</a></li>
{% endfor %}
</ul>
{% endif %}