---
layout: "layouts/base.njk"
pagination:
  data: cruises
  size: 1
  alias: cruise
permalink: "cruises/{{ cruise.cruiseLine | slugify }}/{{ cruise.name | slugify }}"
---

The {{ cruise.name }} cruise is run by {{ cruise.cruiseLine }}.

{% include "partials/itinerary.njk" %}
