---
title: Hupla |
---

<!doctype html>
<head>
    <title>{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

</head>
<body class="text-slate-900 text-normal font-['Heebo']">
    <div class="main-container container mx-auto flex flex-col pb-8 pl-2 pr-2 mt-xxs">
    {{ content | safe }}
    </div>
</body>
</html>